/*****************************************************************************
  plugins
******************************************************************************/
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*****************************************************************************
  Base Styles
******************************************************************************/
html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%; }

p {
  font-family: Georgia, "Times New Roman", serif; }

img {
  max-width: 100%; }

/*****************************************************************************
  Layout Styles
******************************************************************************/
.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 50%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

/*****************************************************************************
  Module Styles
******************************************************************************/
.panel {
  width: 100%;
  height: 100%;
  position: relative; }
  .panel > h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: 10%;
    text-align: center; }
  .panel:nth-child(1) {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    background-color: #ef8f8f; }
    .panel:nth-child(1):after {
      content: "";
      display: table;
      clear: both; }
  .panel:nth-child(2) {
    background-color: #8fefef; }
  .panel:nth-child(3) {
    background-color: #8fef8f; }
  .panel:nth-child(4) {
    background-color: #bfef8f; }
  .panel:nth-child(5) {
    background-color: #dcef8f; }
  .panel:nth-child(6) {
    background-color: #efef8f; }
  .panel:nth-child(7) {
    background-color: #efe18f; }
  .panel:nth-child(8) {
    background-color: #efd78f; }

.is-zoomable {
  float: left;
  display: block;
  margin-right: 2.1276595745%;
  width: 23.4042553191%; }
  .is-zoomable:last-child {
    margin-right: 0; }
  .is-zoomable:nth-child(4n) {
    margin-right: 0; }
  .is-zoomable:nth-child(4n+1) {
    clear: left; }

.is-fixed {
  position: fixed;
  top: 0;
  left: 0; }

.btn {
  border: 0;
  color: #fff;
  background-color: #007aff; }

.btn-giant {
  display: block;
  width: 75%;
  font-size: 3em;
  margin: 0 auto;
  padding: 0.5em 0;
  border-radius: 3px; }
